src/wsdl/servicoshm.saude.gov.br/cnes/CnesService/v1r0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://servicos.saude.gov.br/cnes/v1r0/cnesservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:codigocnes="http://servicos.saude.gov.br/schema/cnes/v1r0/codigocnes" xmlns:resdadoscomplementares="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/resultadopesquisadadoscomplementarescnes" xmlns:resultadoPesquisaCnesMunicipio="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/resultadopesquisacnesmunicipio" xmlns:respesquisaestabelecimentosaude="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/resultadopesquisaestabelecimentosaude" xmlns:municipio="http://servicos.saude.gov.br/schema/corporativo/v1r2/municipio" xmlns:cmpt="http://servicos.saude.gov.br/schema/cnes/v1r0/cmpt" xmlns:msfalha="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/msfalha" name="CnesService" targetNamespace="http://servicos.saude.gov.br/cnes/v1r0/cnesservice">

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/cnes/v1r0/cnesservice">

			<xs:import id="resdadoscomplementares" namespace="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/resultadopesquisadadoscomplementarescnes" schemaLocation="https://servicoshm.saude.gov.br/cnes/CnesService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2FC%3A%2FUsers%2FAdministrador%2FDownloads%2FOAG_20160318_11-20%2FRESOURCES50%2Fxsd%2Fmensageria%2Fresultadopesquisadadoscomplementarescnes.v1r0.xsd"/>

			<xs:import id="codigocnes" namespace="http://servicos.saude.gov.br/schema/cnes/v1r0/codigocnes" schemaLocation="https://servicoshm.saude.gov.br/cnes/CnesService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2FC%3A%2FUsers%2FAdministrador%2FDownloads%2FOAG_20160318_11-20%2FRESOURCES50%2Fxsd%2Fcnes%2Fcodigocnes.v1r0.xsd"/>

			<xs:import id="resultadoPesquisaCnesMunicipio" namespace="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/resultadopesquisacnesmunicipio" schemaLocation="https://servicoshm.saude.gov.br/cnes/CnesService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2FC%3A%2FUsers%2FAdministrador%2FDownloads%2FOAG_20160318_11-20%2FRESOURCES50%2Fxsd%2Fmensageria%2Fresultadopesquisacnesmunicipio.v1r0.xsd"/>
				
			<xs:import id="respesquisaestabelecimentosaude" namespace="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/resultadopesquisaestabelecimentosaude" schemaLocation="https://servicoshm.saude.gov.br/cnes/CnesService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2FC%3A%2FUsers%2FAdministrador%2FDownloads%2FOAG_20160318_11-20%2FRESOURCES50%2Fxsd%2Fmensageria%2Fresultadopesquisaestabelecimentosaude.v1r0.xsd"/>
				
			<xs:import id="municipio" namespace="http://servicos.saude.gov.br/schema/corporativo/v1r2/municipio" schemaLocation="https://servicoshm.saude.gov.br/cnes/CnesService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2FC%3A%2FUsers%2FAdministrador%2FDownloads%2FOAG_20160318_11-20%2FRESOURCES50%2Fxsd%2Fcorporativo%2Fmunicipio.v1r2.xsd"/>	
				
			<xs:import id="cmpt" namespace="http://servicos.saude.gov.br/schema/cnes/v1r0/cmpt" schemaLocation="https://servicoshm.saude.gov.br/cnes/CnesService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2FC%3A%2FUsers%2FAdministrador%2FDownloads%2FOAG_20160318_11-20%2FRESOURCES50%2Fxsd%2Fcnes%2Fcmpt.v1r0.xsd"/>	

			<xs:import id="msfalha" namespace="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/msfalha" schemaLocation="https://servicoshm.saude.gov.br/cnes/CnesService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2FC%3A%2FUsers%2FAdministrador%2FDownloads%2FOAG_20160318_11-20%2FRESOURCES50%2Fxsd%2Fmensageria%2Ffalha%2Fmsfalha.v5r0.xsd"/>

			<xs:element name="requestConsultarEstabelecimentoSaude">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="codigocnes:CodigoCNES"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="responseConsultarEstabelecimentoSaude">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" ref="respesquisaestabelecimentosaude:ResultadoPesquisaEstabelecimentoSaude"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="requestConsultarEstabelecimentoSaudePorMunicipio">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="municipio:Municipio"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="responseConsultarEstabelecimentoSaudePorMunicipio">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" ref="resultadoPesquisaCnesMunicipio:ResultadoPesquisaCnesMunicipio"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="requestConsultarDadosComplementaresEstabelecimentoSaude">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MunicipioCNES" minOccurs="1" maxOccurs="1" type="municipio:MunicipioType"/>
						<xs:element minOccurs="1" maxOccurs="1" ref="cmpt:cmpt"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="responseConsultarDadosComplementaresEstabelecimentoSaude">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" ref="resdadoscomplementares:ResultadoPesquisaDadosComplementaresCnes"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="requestConsultarEstabelecimentoSaude">
		<wsdl:part element="tns:requestConsultarEstabelecimentoSaude" name="requestConsultarEstabelecimentoSaude"/>
	</wsdl:message>
	<wsdl:message name="responseConsultarEstabelecimentoSaude">
		<wsdl:part element="tns:responseConsultarEstabelecimentoSaude" name="responseConsultarEstabelecimentoSaude"/>
	</wsdl:message>
	
	<wsdl:message name="requestConsultarEstabelecimentoSaudePorMunicipio">
		<wsdl:part element="tns:requestConsultarEstabelecimentoSaudePorMunicipio" name="requestConsultarEstabelecimentoSaudePorMunicipio"/>
	</wsdl:message>
	<wsdl:message name="responseConsultarEstabelecimentoSaudePorMunicipio">
		<wsdl:part element="tns:responseConsultarEstabelecimentoSaudePorMunicipio" name="responseConsultarEstabelecimentoSaudePorMunicipio"/>
	</wsdl:message>
	
	<wsdl:message name="requestConsultarDadosComplementaresEstabelecimentoSaude">
		<wsdl:part element="tns:requestConsultarDadosComplementaresEstabelecimentoSaude" name="requestConsultarDadosComplementaresEstabelecimentoSaude"/>
	</wsdl:message>
	<wsdl:message name="responseConsultarDadosComplementaresEstabelecimentoSaude">
		<wsdl:part element="tns:responseConsultarDadosComplementaresEstabelecimentoSaude" name="responseConsultarDadosComplementaresEstabelecimentoSaude"/>
	</wsdl:message>
	
	<wsdl:message name="CnesFault">
		<wsdl:part name="fault" element="msfalha:MSFalha"/>
	</wsdl:message>

	<wsdl:portType name="CnesServicePortType">

		<wsdl:operation name="consultarEstabelecimentoSaude">
			<wsdl:documentation>
				Consultar o Estabelecimento de Saude pelo código do CNES.
			</wsdl:documentation>
			<wsdl:input name="requestConsultarEstabelecimentoSaude" message="tns:requestConsultarEstabelecimentoSaude"/>
			<wsdl:output name="responseConsultarEstabelecimentoSaude" message="tns:responseConsultarEstabelecimentoSaude"/>
			<wsdl:fault name="CnesFault" message="tns:CnesFault"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultarEstabelecimentoSaudePorMunicipio">
			<wsdl:documentation>
				Consultar o Estabelecimento de Saude pelo código IBGE do Município.
			</wsdl:documentation>
			<wsdl:input name="requestConsultarEstabelecimentoSaudePorMunicipio" message="tns:requestConsultarEstabelecimentoSaudePorMunicipio"/>
			<wsdl:output name="responseConsultarEstabelecimentoSaudePorMunicipio" message="tns:responseConsultarEstabelecimentoSaudePorMunicipio"/>
			<wsdl:fault name="CnesFault" message="tns:CnesFault"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultarDadosComplementaresEstabelecimentoSaude">
			<wsdl:documentation>
				Consultar os dados complementares do Estabelecimento de Saude.
			</wsdl:documentation>
			<wsdl:input name="requestConsultarDadosComplementaresEstabelecimentoSaude" message="tns:requestConsultarDadosComplementaresEstabelecimentoSaude"/>
			<wsdl:output name="responseConsultarDadosComplementaresEstabelecimentoSaude" message="tns:responseConsultarDadosComplementaresEstabelecimentoSaude"/>
			<wsdl:fault name="CnesFault" message="tns:CnesFault"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="CnesServiceSOAP12Binding" type="tns:CnesServicePortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="consultarEstabelecimentoSaude">
			<wsdl:documentation>Consultar o Estabelecimento de Saude pelo código do CNES.
			</wsdl:documentation>
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CnesFault">
				<soap12:fault name="CnesFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="consultarEstabelecimentoSaudePorMunicipio">
			<wsdl:documentation>Consultar o Estabelecimento de Saude pelo código IBGE do Município.
			</wsdl:documentation>
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CnesFault">
				<soap12:fault name="CnesFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="consultarDadosComplementaresEstabelecimentoSaude">
			<wsdl:documentation>Consultar dados complementares do Estabelecimento de Saude.
			</wsdl:documentation>
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CnesFault">
				<soap12:fault name="CnesFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>
	
	<wsdl:binding name="CnesServiceSOAP11Binding" type="tns:CnesServicePortType">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="consultarEstabelecimentoSaude">
			<wsdl:documentation>Consultar o Estabelecimento de Saude pelo código do CNES.
			</wsdl:documentation>
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CnesFault">
				<soap11:fault name="CnesFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="consultarEstabelecimentoSaudePorMunicipio">
			<wsdl:documentation>Consultar o Estabelecimento de Saude pelo código IBGE do Município.
			</wsdl:documentation>
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CnesFault">
				<soap11:fault name="CnesFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="consultarDadosComplementaresEstabelecimentoSaude">
			<wsdl:documentation>Consultar dados complementares do Estabelecimento de Saude.
			</wsdl:documentation>
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CnesFault">
				<soap11:fault name="CnesFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>


	<wsdl:service name="CnesService">
		<wsdl:port binding="tns:CnesServiceSOAP12Binding" name="CnesServicePort">
			<soap12:address location="https://servicoshm.saude.gov.br/cnes/CnesService/v1r0"/>
		</wsdl:port>
		<wsdl:port binding="tns:CnesServiceSOAP11Binding" name="CnesServiceSOAP11Port">
			<soap11:address location="https://servicoshm.saude.gov.br/cnes/CnesService/v1r0"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
