src/wsdl/servicoshm.saude.gov.br/cnes/ProfissionalSaudeService/v1r0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://servicos.saude.gov.br/cnes/v1r0/profissionalsaudeservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:profissional="http://servicos.saude.gov.br/schema/profissionalsaude/v2r0/profissionalsaude" xmlns:filtropesquisa="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/filtropesquisaestabelecimentosaude" xmlns:filtropesquisaprof="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/filtropesquisaprofissionalsaude" xmlns:msfalha="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/msfalha" name="ProfissionalSaudeService" targetNamespace="http://servicos.saude.gov.br/cnes/v1r0/profissionalsaudeservice">

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/cnes/v1r0/profissionalsaudeservice">

			<xs:import id="filtropesquisa" namespace="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/filtropesquisaestabelecimentosaude" schemaLocation="https://servicoshm.saude.gov.br/cnes/ProfissionalSaudeService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2Fhome%2Fflavioayres%2FDownloads%2FSkype%2FOAG_CNES_18032016_1120%2FRESOURCES50%2Fxsd%2Fmensageria%2Ffiltropesquisaestabelecimentosaude.v1r0.xsd"/>
				
			<xs:import id="dadosgerais" namespace="http://servicos.saude.gov.br/schema/cnes/v1r0/dadosgeraiscnes" schemaLocation="https://servicoshm.saude.gov.br/cnes/ProfissionalSaudeService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2Fhome%2Fflavioayres%2FDownloads%2FSkype%2FOAG_CNES_18032016_1120%2FRESOURCES50%2Fxsd%2Fcnes%2Fdadosgeraisestabelecimento%2Fdadosgeraiscnes.v1r0.xsd"/>
				
			<xs:import id="msfalha" namespace="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/msfalha" schemaLocation="https://servicoshm.saude.gov.br/cnes/ProfissionalSaudeService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2Fhome%2Fflavioayres%2FDownloads%2FSkype%2FOAG_CNES_18032016_1120%2FRESOURCES50%2Fxsd%2Fmensageria%2Ffalha%2Fmsfalha.v5r0.xsd"/>
				
			<xs:import id="profissional" namespace="http://servicos.saude.gov.br/schema/profissionalsaude/v2r0/profissionalsaude" schemaLocation="https://servicoshm.saude.gov.br/cnes/ProfissionalSaudeService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2Fhome%2Fflavioayres%2FDownloads%2FSkype%2FOAG_CNES_18032016_1120%2FRESOURCES50%2Fxsd%2Fprofissionalsaude%2Fprofissionalsaude.v2r0.xsd"/>
				
			<xs:import id="filtropesquisaprof" namespace="http://servicos.saude.gov.br/wsdl/mensageria/v1r0/filtropesquisaprofissionalsaude" schemaLocation="https://servicoshm.saude.gov.br/cnes/ProfissionalSaudeService/v1r0?WSDL&amp;type=XSD&amp;file=file%3A%2Fhome%2Fflavioayres%2FDownloads%2FSkype%2FOAG_CNES_18032016_1120%2FRESOURCES50%2Fxsd%2Fmensageria%2Ffiltropesquisaprofissionalsaude.v1r0.xsd"/>
				
			<xs:element name="requestConsultarProfissionaisSaude">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="filtropesquisa:FiltroPesquisaEstabelecimentoSaude">
							<xs:annotation>
								<xs:documentation><![CDATA[Filtro de Pesquisa dos Profissionais por CNES e CNPJ.]]></xs:documentation>
							</xs:annotation>
						</xs:element>	
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="responseConsultarProfissionaisSaude">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" ref="profissional:ProfissionalSaude"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="requestConsultarProfissionalSaude">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="filtropesquisaprof:FiltroPesquisaProfissionalSaude">
							<xs:annotation>
								<xs:documentation><![CDATA[Filtro de Pesquisa do Profissional por CNS e CPF.]]></xs:documentation>
							</xs:annotation>
						</xs:element>	
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="responseConsultarProfissionalSaude">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="profissional:ProfissionalSaude"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="requestConsultarProfissionaisSaude">
		<wsdl:part element="tns:requestConsultarProfissionaisSaude" name="requestConsultarProfissionaisSaude"/>
	</wsdl:message>

	<wsdl:message name="responseConsultarProfissionaisSaude">
		<wsdl:part element="tns:responseConsultarProfissionaisSaude" name="responseConsultarProfissionaisSaude"/>
	</wsdl:message>
	
	<wsdl:message name="requestConsultarProfissionalSaude">
		<wsdl:part element="tns:requestConsultarProfissionalSaude" name="requestConsultarProfissionalSaude"/>
	</wsdl:message>

	<wsdl:message name="responseConsultarProfissionalSaude">
		<wsdl:part element="tns:responseConsultarProfissionalSaude" name="responseConsultarProfissionalSaude"/>
	</wsdl:message>
	
	<wsdl:message name="ProfissionalSaudeFault">
		<wsdl:part name="fault" element="msfalha:MSFalha"/>
	</wsdl:message>

	<wsdl:portType name="ProfissionalSaudeServicePortType">

		<wsdl:operation name="consultarProfissionaisSaude">
			<wsdl:documentation>
				Consultar os profissionais de saúde do Estabelecimento de Saude pelo código do CNES ou pelo CNPJ do CNES.
			</wsdl:documentation>
			<wsdl:input name="requestConsultarProfissionaisSaude" message="tns:requestConsultarProfissionaisSaude"/>
			<wsdl:output name="responseConsultarProfissionaisSaude" message="tns:responseConsultarProfissionaisSaude"/>
			<wsdl:fault name="ProfissionalSaudeFault" message="tns:ProfissionalSaudeFault"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultarProfissionalSaude">
			<wsdl:documentation>
				Consultar o profissional de saúde pelo Número do CNS ou CPF.
			</wsdl:documentation>
			<wsdl:input name="requestConsultarProfissionalSaude" message="tns:requestConsultarProfissionalSaude"/>
			<wsdl:output name="responseConsultarProfissionalSaude" message="tns:responseConsultarProfissionalSaude"/>
			<wsdl:fault name="ProfissionalSaudeFault" message="tns:ProfissionalSaudeFault"/>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="ProfissionalSaudeServiceSOAP12Binding" type="tns:ProfissionalSaudeServicePortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="consultarProfissionaisSaude">
			<wsdl:documentation>Consultar os profissionais de saúde do Estabelecimento de Saude pelo código do CNES ou pelo CNPJ do CNES.
			</wsdl:documentation>
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ProfissionalSaudeFault">
				<soap12:fault name="ProfissionalSaudeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="consultarProfissionalSaude">
			<wsdl:documentation>Consultar o profissional de saúde pelo Número do CNS ou CPF.
			</wsdl:documentation>
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ProfissionalSaudeFault">
				<soap12:fault name="ProfissionalSaudeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>
	
	<wsdl:binding name="ProfissionalSaudeServiceSOAP11Binding" type="tns:ProfissionalSaudeServicePortType">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="consultarProfissionaisSaude">
			<wsdl:documentation>Consultar os profissionais de saúde do Estabelecimento de Saude pelo código do CNES ou pelo CNPJ do CNES.
			</wsdl:documentation>
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ProfissionalSaudeFault">
				<soap11:fault name="ProfissionalSaudeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="consultarProfissionalSaude">
			<wsdl:documentation>Consultar o profissional de saúde pelo Número do CNS ou CPF.
			</wsdl:documentation>
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ProfissionalSaudeFault">
				<soap11:fault name="ProfissionalSaudeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>
	
	<wsdl:service name="ProfissionalSaudeService">
		<wsdl:port binding="tns:ProfissionalSaudeServiceSOAP12Binding" name="ProfissionalSaudeServicePort">
			<soap12:address location="https://servicos.saude.gov.br/cnes/ProfissionalSaudeService/v1r0"/>
		</wsdl:port>
		<wsdl:port binding="tns:ProfissionalSaudeServiceSOAP11Binding" name="ProfissionalSaudeServiceSOAP11Port">
			<soap12:address location="https://servicos.saude.gov.br/cnes/ProfissionalSaudeService/v1r0"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
